<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.coppernic.app.myntp"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="fr.coppernic.app.myntp.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="fr.coppernic.app.myntp.home.HomeActivity">
        </activity>
        <activity
            android:name="fr.coppernic.lib.splash.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="activity"
                android:value="fr.coppernic.app.myntp.home.HomeActivity"/>
        </activity>
    </application>

</manifest>